/*? ; -------------------------------------- MEDIA QUERIES --------------------------------- ----- */
/*? ; -------------------------------------- CONTACT RESPONSIVE --------------------------------- ----- */

@media (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 16px;
    }
    
    section.hero{
        min-height: 100vh;
    }
    
    header ul li.svg-logo{
        display: flex;
        justify-content: space-between;
    }
    
    section.hero div.main-container{
        padding: 0px;
    }
    
    section.hero h1 {
        font-size: 40px;
        line-height: 1;
    }
    
    section.hero svg{
        height: 240px;
        width: auto;
    }
    
    header .nav-container {
        flex-direction: column;
        gap: 10px;
    }
    
    header .link {
        font-size: 14px;
    }
    
    section.hero h1{
        font-size: 38px;
        padding: 0px;
    }
    
    section.hero svg{
        margin: 0px 0px 40px 0px;
    }
    
    section.intro h2{
        font-size: 32px;
        line-height: 1;
        padding: 64px 20px 64px 20px;
    }
    
    section.best-sellers{
        padding: 64px 16px 64px 16px;
    }
    
    section.best-sellers h2 {
        font-size: 28px;
        line-height: 1;
        padding: 0px 0px 8px 0px;
    }
    
    section.best-sellers h3 {
        font-size: 24px;
        line-height: 1;
        padding: 0px 0px 32px 0px;
    }
    
    section.best-sellers img{
        margin: 0px 0px 24px 0px;
    }
    
    section.best-sellers div.top{
        padding: 0px 0px 8px 0px;
    }
    
    section.about{
        min-height: 0
    }
    
    section.about div{
        padding: 64px 20px 64px 20px;
    }
    
    section.about h2{
        font-size: 24px;
        line-height: 1;
        padding: 0;
        margin-bottom: 24px;
    }
    
    section.about p{
        font-size: 24px;
        line-height: 1;
        padding: 0;
    }
    
    section.cta{
        padding: 0;
    }
    
    section.cta h2{
        font-size: 24px;
        line-height: 1;
        padding: 64px 20px 24px 20px;
        margin: 0;
    }
    
    section.cta p{
        font-size: 24px;
        line-height: 1;
        padding: 16px 20px 32px 20px;
        margin: 0;
    }
    
    section.cta ul{
        padding: 0px 0px 64px 0px;
        gap: 16px;
        margin: 0;
    }
    
    section.hero-contact {
        padding: 64px 20px 64px 20px;
    }
    
    section.hero-contact h1 {
        font-size: 32px;
        line-height: 1;
    }
    
    section.hero-contact h2 {
        font-size: 24px;
        line-height: 32px;
    }
    
    section.hero-contact svg.noodle-svg{
        max-height: 160px;
        width: auto;
        margin-top: 132px;
    }
    
    section.reach-out div.p-boxes {
        display: block;
        width: 100%;
    }
    
    section.reach-out div.p-boxes p {
        width: 100%;
        text-align: center;
        padding: 20px 10px;
        font-size: 26px;
        line-height: 24px;
        box-sizing: border-box;
    }
    
    section.info p {
        font-size: 24px;
        line-height: 32px;
    }
    
    section.info a.stroke {
        width: 100%;
        padding: 8px 20px;
        font-size: 20px;
    }
    
    section.about-about{
        padding: 64px 20px 64px 20px;
    }
    
    section.about-about h1{
        padding: 0;
        margin-bottom: 24px;
    }
    
    section.about-about p{
        padding: 0;
    }
    
    section.reach-out h2{
        padding: 64px 20px 64px 20px;
        font-size: 24px;
        line-height: 1;
    }
    
    section.reach-out div.p-boxes p.dietary {
        font-size: 20px;
        padding: 40px;
    }
    
    section.reach-out div.p-boxes p.party {
        font-size: 20px;
        padding: 40px;
    }
    
    section.reach-out div.p-boxes p.flavour {
        font-size: 20px;
        padding: 32px;
    }
    
    section.reach-out div.p-boxes p.hi {
        font-size: 20px;
        padding: 32px;
    }
    
    section.info{
        padding: 64px 20px 64px 20px;
    }
    
    section.menu h1 {
        font-size: 32px;
        line-height: 1;
        padding: 152px 40px 64px 40px;
    }
    
    section.menu-heading {
        padding: 40px 20px 40px 20px;
    }
    
    section.menu-heading h2{
        font-size: 32px;
        line-height: 56px;
        padding: 0px 0px 40px 0px;
    }
    
    section.menu-heading ul.menu-description p{
        font-size: 16px;
        line-height: 21px;
    }
    
    section.menu-heading ul.menu-description h3{
        font-size: 24px;
        line-height: 1;
    }
    
    section.menu-heading div.card-txt-top{
        padding: 16px 0px 8px 0px;
    }
    
    section.menu-heading ul.menu-description li{
        width: 100%;
    }
    
    section.menu-heading ul.menu-description{
        flex-direction: column;
    }
    
    section.menu-heading img{
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    
    section.menu-heading ul.combo-description h3{
        font-size: 24px;
        line-height: 1;
    }
    
    section.menu-heading ul.combo-description p{
        font-size: 16px;
        line-height: 20px;
    }
    
    footer {
        padding: 60px;
    }
    
    footer ul.internal-container {
        flex-direction: column;
        align-items: center;
    }
    
    footer ul.external-container {
        flex-direction: column;
        align-items: center;
    }
    
    footer div.credits {
        flex-direction: column;
        padding-top: 60px;
        text-align: center;
    }
    
    footer {
        padding: 40px 20px;
    }
    
    footer ul.internal-container,
    footer ul.external-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    footer ul.internal-container li,
    footer ul.external-container li {
        width: 100%;
        text-align: center;
    }
    
    footer ul li a.internal{
        text-align: left;
    }
    
    footer .logo-container {
        margin-bottom: 20px;
    }
    
    footer div.credits {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    
    footer div.credits p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    header {
        padding: 24px;
    }
    
    section.hero-contact {
        padding: 64px 20px 64px 24px;
        min-height: 100vh;
    }
    
    section.hero-contact h1 {
        font-size: 32px;
        line-height: 1;
    }
    
    section.hero-contact h2 {
        font-size: 28px;
        line-height: 36px;
    }
    
    section.reach-out div.p-boxes p {
        padding: 30px;
        font-size: 20px;
    }
    
    section.info p {
        font-size: 28px;
        line-height: 36px;
    }
    
    section.info a.stroke {
        width: 100%;
        padding: 8px 30px;
        font-size: 22px;
    }
    
    footer {
        padding: 80px;
    }
    
    footer ul.internal-container {
        gap: 15px;
    }
    
    footer ul.external-container {
        gap: 15px;
    }
    
    footer div.credits {
        padding-top: 80px;
        text-align: center;
    }
}

/*? ; -------------------------------------- ABOUT RESPONSIVE --------------------------------- ----- */
@media (max-width: 768px) {
    header .svg-logo {
        text-align: center;
    }
    header .link {
        font-size: 14px;
        padding: 10px 0;
    }
    section.hero{
        padding: 170px 16px 32px 16px;
    }
    section.hero ul{
        padding-left: 0;
    }
    
    a.outline {
        max-width: 242px;
        min-width: 242px;
        margin: 0 auto;
    }
    
    a.stroke {
        max-width: 242px;
        min-width: 242px;
        margin: 0 auto;
    }
    
    section.hero-about img {
        height: auto;
        object-fit: cover;
    }
    section.find-us div.stores img {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }
    
    section.about-about h1, section.about-about p,
    section.find-us h2 {
        font-size: 24px;
        line-height: 32px;
        padding: 0px 0px 8px 0px;
    }
    
    section.find-us p{
        padding: 0px 0px 32px 0px;
        font-size: 24px;
        line-height: 1;
    }
    
    section.cta ul li a {
        width: 100%;
        padding: 12px 20px;
    }
    section.cta ul {
        flex-direction: column;
        align-items: center;
    }
    section.find-us {
        padding: 32px 20px;
    }
    section.find-us div.stores {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    section.about-about h1, section.about-about p,
    section.find-us h2, section.find-us p {
        font-size: 28px;
        line-height: 1;
    }
    section.hero-about, section.find-us {
        padding: 40px 20px;
    }
}